<div class="container">
    <header>ELIMINACIÃ“N DE NOVEDADES</header>
    <form action="" action="post" class="register" [formGroup]="InfoNovedad">

    <button class="home_close" [routerLink]="['']">Regresar</button>
    
    <br>Codigo de la Novedad: <input type="number" class="form-control" formControlName="codigo_novedad" name="codigo_novedad" id="" placeholder="codigo de la novedad">

    <button (click)="recibir_datos_novedad()" class="register-button">Eliminar</button>

    <footer>MF2D3J1 2021 <br>Direccion: Medellin <br>Telefono: +57 (4) 5832444 <br> Correo: mf2d3j@outlook.com</footer>
    </form>
    
</div>